<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" 
		th:href="@{/css/styles.css}" type="text/css"/>
	<link rel="stylesheet" 
		th:href="@{/css/flag-icon-css.css}" type="text/css"/>
	<title>Welcome</title>
	<meta charset="utf-8"/>
</head>
<body>

	<header>
	
		<nav> 
		    <ul id="menu">
				<li><a class="button" th:href="@{'/bids'}"><span th:text="#{bid.allbids}">All bids</span></a></li>
				<li><a class="button" th:href="@{'/jobs'}"><span th:text="#{job.alljobs}">All jobs</span></a></li>
				<li><a class="button" th:href="@{'/activejobs'}"><span th:text="#{job.activejobs}">Active jobs</span></a></li>
				<li><a class="button" th:href="@{'/inactivejobs'}"><span th:text="#{job.inactivejobs}">Inactive jobs</span></a></li>
				<li class="selected" sec:authorize="!isAuthenticated()"><a class="button" th:href="@{'/login'}"><span th:text="#{form.login}">Log In</span></a></li>
				<li sec:authorize="!isAuthenticated()"><a class="button" th:href="@{'/newuser'}"><span th:text="#{form.register}">Register</span></a></li>
			</ul>
		</nav>
	
	</header>
	
	<main>
		<h1><span th:text="#{index.welcome}">Welcome!</span></h1><br>
		<div class="login-page">
			<div class="form">
				<div class="error" th:if="${param.error}"><span th:text="#{param.error}">Invalid username and password.</span></div>
				<div class="error" th:if="${param.logout}"><span th:text="#{param.logout}">You have been logged out.</span></div>
				<fieldset class="form-style">
					<form class="login-form" method="post" th:action="@{/login}">
						<label><span th:text="#{form.email}">Email : </span><input type="email" name="email"/></label>
						<label><span th:text="#{form.password}">Password : </span> <input type="password" name="password"/></label>
						<input type="submit" th:value="#{form.login}"/>
						<input type="reset" th:value="#{form.cancel}">
					</form>
				</fieldset>
			</div>
		</div>
	</main>
	
	<footer>
	<hr>
		<a th:href="@{/?lang=ie}"><i class="flag-icon flag-icon-ie"></i></a>&nbsp;
		<a th:href="@{/?lang=es}"><i class="flag-icon flag-icon-es"></i></a>&nbsp;
		<a th:href="@{/?lang=fr}"><i class="flag-icon flag-icon-fr"></i></a>
	</footer>
	
</body>
</html>